<div class="">
    <div class="">Hello
        <%= full_name %>,</div>
    <div class="">
        <p> <%= message %>
    </div>

    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br> Admin</div>
</div>