<div class="">
    <div class="">Hi
        <%= full_name %>,</div>
    <div class="">
        <p>Thank you for registering with us.</p>
    </div>
    <div class="">Here's your registered Email:
        <span style="color: crimson">
            <%= email %>
        </span>
        <p></p>
    </div>
    <div class="">Thank You,</div>
    <div class="">Social Score Keeper</div>
</div>
