<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">We are sorry to inform you that your withdraw request for $<%= withdraw_amount %> from your wallet has been rejected.</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>