<div class="">
    <div class="">Hello
        <%= full_name %>,
    </div>
    <div class="">
        <p>
            <%= message %>
    </div>

    <!-- <div class="">Here's your Account Details:<br>
        <span>Email: <b>
                <%= email %>
            </b></span><br>
        <span>Password: <b>
                <%= password %>
            </b></span>
    </div> -->

    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br> Admin
    </div>
</div>