<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">Your wallet has been successfully recharged with $<%= added_amount %> and your new wallet balance is $<%= updated_balance %>.</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>