<div class="">
    <div class="">Hi <%= user_fullname %>,</div>
    <div class="">You have successfully withdrawn $<%= withdraw_amount %> from your wallet and your new wallet balance is $<%= updated_balance %>. It may take few days to credit in your bank.</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>