<div class="">
    <div class="">Hello Admin,</div>
    <div class="">
        <p>A new subscription form has been submitted. Below is the details.</p>
    </div>


    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br>
        <%= site_title %>
    </div>
</div>