<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class="">
        <p><%= message %></p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br><%= site_title %></div>
</div>