<div class="">
    <div class="">Hi
        <%= fan_name %>,</div>
    <div class="">
        <p><%= message%></p>
    </div>
    <div class="">
        <p><b>Invitation Link:</b> <a href="<%= invite_link %>" target="_blank" style="color:#0068a5">Click Here</a></p>
    </div>
    <div class="">
        <div>Thank You,</div>
        <div class="">Social Score Keeper</div>
    </div>
</div>