<div class="">
    <div class="">Hi <%= sender_fullname %>,</div>
    <div class="">Your payment for unlock post content of $<%= sender_sent_amount %> has been successfully paid to post owner <%= receiver_fullname %> .</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>