<div class="">
    <div class="">Hi
        <%= email %>,</div>
    <div class="">
        <p>You are invited by <%= creator_email %> to becoming fan.</p>
        <p>Please proced with this given link <a href="<%= message %>"><%= message %></a>.</p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Social Score Keeper</div>
</div>