<div class="">
    <div class="">Hello,</div>
    <div class="">
        <p><%= data1 %></p>
    </div>
    <hr>
    <div class="">
        <p></p>
    </div>
    <div class="">Regards,
        <br>Team Social Score Keeper</div>
</div>