<div class="">
    <div class="">Hi <%= receiver_fullname %>,</div>
    <div class="">You received a tip amount of $<%= receiver_receive_amount %> from <%= sender_fullname %>.</div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards, <br><%= site_title %></div>
</div>